* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(200, 50%, 50%);
  
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box {
  width: 50%;
  height: 50%;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: top;
}

.box-1 {
  background-color: hsl(240, 50%, 50%);
  top: 55%;
  left: 55%;
  background: #F8D353;
background: -webkit-linear-gradient(top, #F8D353, #FF5BE8);
background: -moz-linear-gradient(top, #F8D353, #FF5BE8);
background: linear-gradient(to bottom, #F8D353, #FF5BE8);
}

.box-2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfcHietgWwReaOL3DNEKsdkCAO7dIAsptVOnAAAAAElFTkSuQmCC)
}
  
